@font-face {
    font-family: "a new heard";
    src: url('./fonts/a-new-heard/A\ new\ Heard\ Decorative.otf');
}

@font-face {
    font-family: "enchanted land";
    src: url('./fonts/enchanted-land/Enchanted\ Land.otf');
}

@font-face {
    font-family: "pacifico";
    src: url('./fonts/Pacifico/OFL.txt');
}

body {
    background-image: url('./images/1339726.png');
    background-repeat: no-repeat;
    background-size: 100svw 100svh;
}

header {
    display: flex;
    justify-content: center;
}

header h1 {
    color: #D2B48D;
    font-family: "enchanted land", Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-shadow: 1px 1px 2px #5C4033, 3px 3px 5px #5C4033;
    display: flex;
    justify-content: center;
}

h2 {
    color: #D2B48D;
    font-family: "enchanted land";
    font-size: 50px;
    text-shadow: 1px 1px 2px #5C4033, 3px 3px 5px #5C4033;
    display: flex;
    justify-content: center;
}

nav {
    display:flex;
    justify-content: center;
}

select {
    background-color: #D2B48D;
}

button {
    background-color: #D2B48D;
}

#results {
    color: white;
}