@font-face {
    font-family: "a new heard";
    src: url('./fonts/a-new-heard/A\ new\ Heard\ Decorative.otf');
}

@font-face {
    font-family: "enchanted land";
    src: url('./fonts/enchanted-land/Enchanted\ Land.otf');
}

@font-face {
    font-family: "pacifico";
    src: url('./fonts/Pacifico/OFL.txt');
}

body {
    background-image: url('./images/1339726.png');
    background-repeat: no-repeat;
    background-size: 100svw 100svh;
}

header {
    text-align: center;
    max-height: 150px;
}


header h1 {
    color: #D2B48D;
    text-align: center;
    font-family: "enchanted land", Arial, Helvetica, sans-serif;
    font-size: 550%;
    margin-top: 50px;
}